/* Cadastro.css */
.cadastro-container {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
    background-color: rgb(8, 8, 8);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin: 1rem;
  }
  
  .cadastro-container input,
  .cadastro-container button {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .cadastro-container button {
    width: 100%;
    padding: 0.5rem;
  }
  